In [1]:
import pandas as pd
import numpy as np
import scipy.stats
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('pollution.csv')
data.head()

,Country,Cause,Both sexes,Male,Female
0,Afghanistan,Chronic obstructive pulmonary disease,23,26,21
1,Afghanistan,Ischaemic heart disease,107,120,94
2,Afghanistan,Lower respiratory infections,32,33,31
3,Afghanistan,Stroke,45,44,47
4,Afghanistan,"Trachea, bronchus, lung cancers",4,6,2

In [3]:
column = data["Both sexes"]
max = column.max()
max

167

In [5]:
data.shape

(915, 5)

In [6]:
915/5

183.0

In [8]:
chronic = data[data.Cause == 'Chronic obstructive pulmonary disease']
chronic.head()

,Country,Cause,Both sexes,Male,Female
0,Afghanistan,Chronic obstructive pulmonary disease,23,26,21
5,Albania,Chronic obstructive pulmonary disease,4,6,3
10,Algeria,Chronic obstructive pulmonary disease,4,5,3
15,Angola,Chronic obstructive pulmonary disease,13,13,14
20,Antigua and Barbuda,Chronic obstructive pulmonary disease,3,4,2

In [11]:
chronic.sort_values(by = ["Both sexes"], ascending=False)

,Country,Cause,Both sexes,Male,Female
220,Democratic People's Republic of Korea,Chronic obstructive pulmonary disease,66,89,54
375,India,Chronic obstructive pulmonary disease,53,55,51
570,Nepal,Chronic obstructive pulmonary disease,49,46,52
60,Bangladesh,Chronic obstructive pulmonary disease,38,43,34
560,Myanmar,Chronic obstructive pulmonary disease,37,54,25
...,...,...,...,...,...
370,Iceland,Chronic obstructive pulmonary disease,1,1,1
645,Portugal,Chronic obstructive pulmonary disease,1,2,1
780,Sweden,Chronic obstructive pulmonary disease,1,1,1
480,Lithuania,Chronic obstructive pulmonary disease,1,2,0
455,Latvia,Chronic obstructive pulmonary disease,1,3,0

In [19]:
df = data.sort_values(by = ["Both sexes"], ascending=False)

In [16]:
data.shape

(915, 5)

In [17]:
915/5

183.0

In [32]:
df.iloc[[184]]

      Country                    Cause  Both sexes  Male  Female
911  Zimbabwe  Ischaemic heart disease          33    27      38

In [36]:
df1 = data[['Country','Both sexes']]
df1.head()

       Country  Both sexes
0  Afghanistan          23
1  Afghanistan         107
2  Afghanistan          32
3  Afghanistan          45
4  Afghanistan           4

In [44]:
df2 = df1.groupby('Country').sum('Both sexes').sort_values(by = ["Both sexes"], ascending=False)
df2.head(20)

                                       Both sexes
Country
Sierra Leone                                  324
Nigeria                                       307
Chad                                          279
Côte d'Ivoire                                 270
Niger                                         253
Togo                                          249
Guinea                                        243
Gambia                                        236
Guinea-Bissau                                 214
Somalia                                       213
Central African Republic                      212
Afghanistan                                   211
Mali                                          209
Cameroon                                      208
Democratic People's Republic of Korea         206
Burkina Faso                                  205
Benin                                         204
Ghana                                         203
Yemen                                         195
Nepal                                         194